{% extends 'project/base.html' %}
{% block title %} {{ Subject.name }} {% endblock %}
{% block body %}

<div class="panel panel-default" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
    <div class="panel-heading" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
        <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> {{ Subject.name }} </a></h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            <h2> {{ Subject.collage }} - {{ Subject.level }}</h2>
        </div>
    </div>
</div>

<div class="panel panel-default" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
    <div class="panel-heading" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
        <h3 class="panel-title" ><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Courses</a></h3>
    </div>
    <div id="collapse3" class="panel-collapse collapse" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
        <div class="panel-body" style="font-family: 'Proxima Nova','Helvetica','Corbel',sans-serif;background-color:#4b5462;">
            {% if Subject.cource_set.all %}
                <ul>
                {% for Cource in Subject.cource_set.all %}
                    <li><a href="{% url 'project:show_cource' Subject.pk Cource.pk %}">{{ Cource.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No cources are available yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
